<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-d{MM/dd/yy HH:mm:ss}] %-5p %c{1}> %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="stdout"/>
		</Root>
		<Logger name="org.hibernate" level="INFO"/>
		<Logger name="org.hibernate.engine.internal.StatefulPersistenceContext" level="ERROR"/>
		<Logger name="org.jgroups.protocols" level="DEBUG"/>
		<Logger name="org.jgroups.protocols.UNICAST3" level="INFO"/>
	</Loggers>
</Configuration>