<!DOCTYPE unitime-menu PUBLIC "-//UniTime//UniTime Menu DTD/EN" "http://www.unitime.org/interface/menu.dtd">

<!-- 
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for
 * additional information regarding copyright ownership.
 *
 * The Apereo Foundation licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * 
 -->
<unitime-menu>
	<menu name="Courses" title="Course Timetabling">
		<condition>
			<or>
				<propertyEquals name="tmtbl.menu.display_course_timetabling" value="true" defaultValue="true"/>
				<hasPermission name="IsAdmin"/>
			</or>
			<or>
				<hasPermission name="InstructionalOfferings"/>
				<hasPermission name="Classes"/>
				<hasPermission name="HQLReportsCourses"/>
				<hasPermission name="ClassAssignments"/>
				<hasPermission name="InstructorDetail"/>
			</or>
		</condition>
		<menu name="Input Data" title="Course Timetabling Input Data">
			<item name="Instructional Offerings" page="instructionalOfferingShowSearch.do">
				<condition>
					<hasPermission name="InstructionalOfferings"/>
				</condition>
			</item>
			<item name="Classes" page="classShowSearch.do">
				<condition>
					<hasPermission name="Classes"/>
				</condition>
			</item>
			<separator/>
			<menu name="Curricula" page="curricula" type="gwt">
				<condition>
					<hasPermission name="CurriculumView"/>
				</condition>
				<item name="Projection Rules" page="curprojrules" type="gwt">
					<condition>
						<hasPermission name="CurriculumProjectionRulesDetail"/>
					</condition>
				</item>
			</menu>
			<separator/>
			<item name="Instructors" page="instructorSearch.do">
				<condition>
					<hasPermission name="Instructors"/>
				</condition>
			</item>
			<item name="Instructor Attributes" page="instructorattributes" type="gwt">
				<condition>
					<hasPermission name="InstructorAttributes"/>
				</condition>
			</item>
			<item name="Instructor Detail" page="instructorDetail.do">
				<condition>
					<hasPermission name="InstructorDetail"/>
					<not>
						<hasPermission name="Instructors"/>
					</not>
				</condition>
			</item>
			<separator/>
			<menu name="Rooms" page="roomSearch.do">
				<condition>
					<hasPermission name="Rooms"/>
					<propertyEquals name="unitime.legacy.rooms" value="true" defaultValue="false"/>
				</condition>
				<item name="Room Features" page="roomFeatureSearch.do">
					<condition>
						<hasPermission name="RoomFeatures"/>
					</condition>
				</item>
				<item name="Room Groups" page="roomGroupSearch.do">
					<condition>
						<hasPermission name="RoomGroups"/>
					</condition>
				</item>
				<item name="Travel Times" page="traveltimes" type="gwt">
					<condition>
						<hasPermission name="TravelTimesLoad"/>
					</condition>
				</item>
			</menu>
			<menu name="Rooms" page="rooms" type="gwt">
				<parameter name="mode">courses</parameter>
				<condition>
					<hasPermission name="Rooms"/>
					<propertyEquals name="unitime.legacy.rooms" value="false" defaultValue="false"/>
				</condition>
				<item name="Room Features" page="roomfeatures" type="gwt">
					<parameter name="mode">courses</parameter>
					<condition>
						<hasPermission name="RoomFeatures"/>
					</condition>
				</item>
				<item name="Room Groups" page="roomgroups" type="gwt">
					<parameter name="mode">courses</parameter>
					<condition>
						<hasPermission name="RoomGroups"/>
					</condition>
				</item>
				<item name="Travel Times" page="traveltimes" type="gwt">
					<condition>
						<hasPermission name="TravelTimesLoad"/>
					</condition>
				</item>
			</menu>
			<separator/>
			<item name="Distribution Preferences" page="distributionPrefs.do">
				<condition>
					<hasPermission name="DistributionPreferences"/>
				</condition>
			</item>
			<item name="Reservations" page="reservations" type="gwt">
				<condition>
					<hasPermission name="Reservations"/>
				</condition>
			</item>
			<item name="Class Assignments" page="classAssignmentsReportShowSearch.do">
				<condition>
					<hasPermission name="ClassAssignments"/>
				</condition>
			</item>
		</menu>
		<menu name="Course Timetabling" title="Course Timetabling Solver">
			<condition>
				<or>
					<hasPermission name="CourseTimetabling"/>
					<hasPermission name="Timetables"/>
				</or>
			</condition>
			<item name="Saved Timetables" page="listSolutions.do">
				<condition>
					<hasPermission name="Timetables"/>
				</condition>
			</item>
			<item name="Solver" page="solver.do">
				<condition>
					<hasPermission name="Solver"/>
					<propertyEquals name="unitime.legacy.solver" value="true" defaultValue="false"/>
				</condition>
			</item>
			<item name="Solver" page="solver" type="gwt">
				<parameter name="type">course</parameter>
				<condition>
					<hasPermission name="Solver"/>
					<propertyEquals name="unitime.legacy.solver" value="false" defaultValue="false"/>
				</condition>
			</item>
			<item name="Timetable Grid" page="timetable.do">
				<condition>
					<hasPermission name="TimetableGrid"/>
					<propertyEquals name="unitime.legacy.solver" value="true" defaultValue="false"/>
				</condition>
			</item>
			<item name="Timetable Grid" page="timetableGrid" type="gwt">
				<condition>
					<hasPermission name="TimetableGrid"/>
					<propertyEquals name="unitime.legacy.solver" value="false" defaultValue="false"/>
				</condition>
			</item>
			<separator/>
			<item name="Assigned Classes" page="assignedClasses.do">
				<condition>
					<hasPermission name="AssignedClasses"/>
					<propertyEquals name="unitime.legacy.solver" value="true" defaultValue="false"/>
				</condition>
			</item>
			<item name="Assigned Classes" page="assignedClasses" type="gwt">
				<condition>
					<hasPermission name="AssignedClasses"/>
					<propertyEquals name="unitime.legacy.solver" value="false" defaultValue="false"/>
				</condition>
			</item>
			<item name="Not-assigned Classes" page="unassigned.do">
				<condition>
					<hasPermission name="NotAssignedClasses"/>
					<propertyEquals name="unitime.legacy.solver" value="true" defaultValue="false"/>
				</condition>
			</item>
			<item name="Not-assigned Classes" page="notAssignedClasses" type="gwt">
				<condition>
					<hasPermission name="NotAssignedClasses"/>
					<propertyEquals name="unitime.legacy.solver" value="false" defaultValue="false"/>
				</condition>
			</item>
			<item name="Changes" page="solutionChanges.do">
				<condition>
					<hasPermission name="SolutionChanges"/>
					<propertyEquals name="unitime.legacy.solver" value="true" defaultValue="false"/>
				</condition>
			</item>
			<item name="Changes" page="solutionChanges" type="gwt">
				<condition>
					<hasPermission name="SolutionChanges"/>
					<propertyEquals name="unitime.legacy.solver" value="false" defaultValue="false"/>
				</condition>
			</item>
			<item name="History" page="assignmentHistory.do">
				<condition>
					<hasPermission name="AssignmentHistory"/>
					<propertyEquals name="unitime.legacy.solver" value="true" defaultValue="false"/>
				</condition>
			</item>
			<item name="History" page="assignmentHistory" type="gwt">
				<condition>
					<hasPermission name="AssignmentHistory"/>
					<propertyEquals name="unitime.legacy.solver" value="false" defaultValue="false"/>
				</condition>
			</item>
			<item name="Conflict Statistics" page="cbs.do">
				<condition>
					<hasPermission name="ConflictStatistics"/>
					<propertyEquals name="unitime.legacy.solver" value="true" defaultValue="false"/>
				</condition>
			</item>
			<item name="Conflict Statistics" page="cbs" type="gwt">
				<condition>
					<hasPermission name="ConflictStatistics"/>
					<propertyEquals name="unitime.legacy.solver" value="false" defaultValue="false"/>
				</condition>
			</item>
			<item name="Solver Log" page="solverLog.do">
				<condition>
					<hasPermission name="SolverLog"/>
					<propertyEquals name="unitime.legacy.solver" value="true" defaultValue="false"/>
				</condition>
			</item>
			<item name="Solver Log" page="solverlog" type="gwt">
				<parameter name="type">course</parameter>
				<condition>
					<hasPermission name="SolverLog"/>
					<propertyEquals name="unitime.legacy.solver" value="false" defaultValue="false"/>
				</condition>
			</item>
			<item name="Reports" page="solutionReport.do">
				<condition>
					<hasPermission name="SolutionReports"/>
				</condition>
			</item>
		</menu>
		<menu name="Course Audit" title="Course Timetabling Audit">
			<condition>
				<hasPermission name="CourseTimetablingAudit"/>
			</condition>
			<item name="Solver" page="solver.do">
				<condition>
					<hasPermission name="Solver"/>
					<propertyEquals name="unitime.legacy.solver" value="true" defaultValue="false"/>
				</condition>
			</item>
			<item name="Solver" page="solver" type="gwt">
				<parameter name="type">course</parameter>
				<condition>
					<hasPermission name="Solver"/>
					<propertyEquals name="unitime.legacy.solver" value="false" defaultValue="false"/>
				</condition>
			</item>
			<item name="Conflict Statistics" page="cbs.do">
				<condition>
					<hasPermission name="ConflictStatistics"/>
					<propertyEquals name="unitime.legacy.solver" value="true" defaultValue="false"/>
				</condition>
			</item>
			<item name="Conflict Statistics" page="cbs" type="gwt">
				<condition>
					<hasPermission name="ConflictStatistics"/>
					<propertyEquals name="unitime.legacy.solver" value="false" defaultValue="false"/>
				</condition>
			</item>
			<item name="Solver Log" page="solverLog.do">
				<condition>
					<hasPermission name="SolverLog"/>
					<propertyEquals name="unitime.legacy.solver" value="true" defaultValue="false"/>
				</condition>
			</item>
			<item name="Solver Log" page="solverlog" type="gwt">
				<parameter name="type">course</parameter>
				<condition>
					<hasPermission name="SolverLog"/>
					<propertyEquals name="unitime.legacy.solver" value="false" defaultValue="false"/>
				</condition>
			</item>
			<item name="Reports" page="solutionReport.do">
				<condition>
					<hasPermission name="SolutionReports"/>
				</condition>
			</item>
		</menu>
		<menu name="Instructor Scheduling">
			<condition>
				<hasPermission name="InstructorSchedulingSolver"/>
			</condition>
			<item name="Instructor Scheduling Solver" page="solver" type="gwt">
				<parameter name="type">instructor</parameter>
			</item>
			<item name="Solver Log" page="solverlog" type="gwt">
				<parameter name="type">instructor</parameter>
				<condition>
					<hasPermission name="InstructorSchedulingSolverLog"/>
				</condition>
			</item>
			<separator/>
			<item name="Assigned Teaching Requests" page="teachingRequests" type="gwt">
				<parameter name="assigned">true</parameter>
			</item>
			<item name="Not-Assigned Teaching Requests" page="teachingRequests" type="gwt">
				<parameter name="assigned">false</parameter>
			</item>
			<item name="Teaching Assignments" page="teachingAssignments" type="gwt"/>
			<item name="Assignment Changes" page="teachingAssignmentChanges" type="gwt"/>
		</menu>
		<item name="Reports" page="hql" type="gwt">
			<parameter name="appearance">courses</parameter>
			<condition>
				<hasPermission name="HQLReportsCourses"/>
			</condition>
		</item>
		<item name="Point In Time Data Reports" page="pointInTimeDataReports" type="gwt">
			<condition>
				<hasPermission name="PointInTimeDataReports"/>
			</condition>
		</item>
	</menu>
	<menu name="Curricula" title="Curriculum Timetabling">
		<condition>
			<or>
				<propertyEquals name="tmtbl.menu.display_course_timetabling" value="true" defaultValue="true"/>
				<hasPermission name="IsAdmin"/>
			</or>
			<hasPermission name="CurriculumView"/>
			<not>
				<hasPermission name="Classes"/>
				<hasPermission name="InstructionalOfferings"/>
			</not>
		</condition>
		<item name="Curricula" page="curricula" type="gwt">
			<condition>
				<hasPermission name="CurriculumView"/>
			</condition>
		</item>
		<item name="Projection Rules" page="curprojrules" type="gwt">
			<condition>
				<hasPermission name="CurriculumProjectionRulesDetail"/>
			</condition>
		</item>
	</menu>
	<menu name="Students">
		<condition>
			<or>
				<propertyEquals name="tmtbl.menu.display_student_sectioning" value="true" defaultValue="true"/>
				<hasPermission name="IsAdmin"/>
			</or>
			<or>
				<hasPermission name="StudentScheduling"/>
				<hasPermission name="HQLReportsStudents"/>
			</or>
		</condition>
		<menu name="Batch Solver" page="studentSolver.do">
			<condition>
				<hasPermission name="StudentSectioningSolver"/>
				<propertyEquals name="unitime.legacy.solver" value="true" defaultValue="false"/>
			</condition>
			<item name="Solver Log" page="studentSolverLog.do">
				<condition>
					<hasPermission name="StudentSectioningSolverLog"/>
				</condition>
			</item>
			<item name="Solver Dashboard" page="batchsctdash" type="gwt">
				<condition>
					<hasPermission name="StudentSectioningSolverDashboard"/>
				</condition>
			</item>
			<item name="Solver Reports" page="sctreport" type="gwt">
				<condition>
					<hasPermission name="StudentSectioningSolver"/>
				</condition>
			</item>
		</menu>
		<menu name="Batch Solver" page="solver" type="gwt">
			<parameter name="type">student</parameter>
			<condition>
				<hasPermission name="StudentSectioningSolver"/>
				<propertyEquals name="unitime.legacy.solver" value="false" defaultValue="false"/>
			</condition>
			<item name="Solver Log" page="solverlog" type="gwt">
			<parameter name="type">student</parameter>
				<condition>
					<hasPermission name="StudentSectioningSolverLog"/>
				</condition>
			</item>
			<item name="Solver Dashboard" page="batchsctdash" type="gwt">
				<condition>
					<hasPermission name="StudentSectioningSolverDashboard"/>
				</condition>
			</item>
			<item name="Solver Reports" page="sctreport" type="gwt">
				<condition>
					<hasPermission name="StudentSectioningSolver"/>
				</condition>
			</item>
		</menu>
		<separator>
			<condition>
				<or>
					<hasPermission name="SchedulingAssistant" authority="any"/>
					<hasPermission name="CourseRequests" authority="any"/>
				</or>
			</condition>
		</separator>
		<item name="Scheduling Assistant" page="sectioning" type="gwt">
			<condition>
				<hasPermission name="SchedulingAssistant" authority="any"/>
			</condition>
		</item>
		<item name="Online Scheduling Dashboard" page="onlinesctdash" type="gwt">
			<condition>
				<hasPermission name="SchedulingDashboard"/>
			</condition>
		</item>
		<item name="Online Scheduling Reports" page="onlinereport" type="gwt">
			<condition>
				<hasPermission name="SchedulingReports"/>
			</condition>
		</item>
		<item name="Course Requests" page="requests" type="gwt">
			<condition>
				<hasPermission name="CourseRequests" authority="any"/>
			</condition>
		</item>
		<separator/>
		<item name="Enrollment Audits" page="enrollmentAuditPdfReport.do">
			<condition>
				<hasPermission name="EnrollmentAuditPDFReports"/>
			</condition>
		</item>
		<item name="Reports" page="hql" type="gwt">
			<parameter name="appearance">sectioning</parameter>
			<condition>
				<hasPermission name="HQLReportsStudents"/>
			</condition>
		</item>
	</menu>
	<menu name="Examinations">
		<condition>
			<or>
				<propertyEquals name="tmtbl.menu.display_exam_timetabling" value="true" defaultValue="true"/>
				<hasPermission name="IsAdmin"/>
			</or>
			<or>
				<hasPermission name="Examinations"/>
				<hasPermission name="HQLReportsExaminations"/>
			</or>
		</condition>
		<menu name="Input Data">
			<condition>
				<hasPermission name="Examinations"/>
			</condition>
			<item name="Instructors" page="instructorSearch.do">
				<condition>
					<hasPermission name="Instructors"/>
				</condition>
			</item>
			<separator/>
			<menu name="Rooms" page="roomSearch.do?default=Exam">
				<condition>
					<hasPermission name="Rooms"/>
					<propertyEquals name="unitime.legacy.rooms" value="true" defaultValue="false"/>
				</condition>
				<item name="Room Features" page="roomFeatureSearch.do?default=Exam">
					<condition>
						<hasPermission name="RoomFeatures"/>
					</condition>
				</item>
				<item name="Room Groups" page="roomGroupSearch.do?default=Exam">
					<condition>
						<hasPermission name="RoomGroups"/>
					</condition>
				</item>
				<item name="Room Availability" page="roomAvailability.do">
					<condition>
						<hasPermission name="RoomAvailability"/>
					</condition>
				</item>
			</menu>
			<menu name="Rooms" page="rooms" type="gwt">
				<parameter name="mode">exams</parameter>
				<condition>
					<hasPermission name="Rooms"/>
					<propertyEquals name="unitime.legacy.rooms" value="false" defaultValue="false"/>
				</condition>
				<item name="Room Features" page="roomfeatures" type="gwt">
					<parameter name="mode">exams</parameter>
					<condition>
						<hasPermission name="RoomFeatures"/>
					</condition>
				</item>
				<item name="Room Groups" page="roomgroups" type="gwt">
					<parameter name="mode">exams</parameter>
					<condition>
						<hasPermission name="RoomGroups"/>
					</condition>
				</item>
				<item name="Room Availability" page="roomAvailability.do">
					<condition>
						<hasPermission name="RoomAvailability"/>
					</condition>
				</item>
			</menu>
			<separator/>
			<item name="Examinations" page="examList.do"/>
			<item name="Distribution Preferences" page="examDistributionPrefs.do">
				<condition>
					<hasPermission name="ExaminationDistributionPreferences"/>
				</condition>
			</item>
		</menu>
		<menu name="Examination Timetabling">
			<condition>
				<hasPermission name="ExaminationTimetabling"/>
			</condition>
			<item name="Examination Solver" page="examSolver.do">
				<condition>
					<hasPermission name="ExaminationSolver"/>
					<propertyEquals name="unitime.legacy.solver" value="true" defaultValue="false"/>
				</condition>
			</item>
			<item name="Examination Solver" page="solver" type="gwt">
				<parameter name="type">exam</parameter>
				<condition>
					<hasPermission name="ExaminationSolver"/>
					<propertyEquals name="unitime.legacy.solver" value="false" defaultValue="false"/>
				</condition>
			</item>
			<item name="Timetable Grid" page="examGrid.do">
				<condition>
					<hasPermission name="ExaminationTimetable"/>
				</condition>
			</item>
			<separator/>
			<item name="Assigned Exams" page="assignedExams.do">
				<condition>
					<hasPermission name="AssignedExaminations"/>
				</condition>
			</item>
			<item name="Not-assigned Exams" page="unassignedExams.do">
				<condition>
					<hasPermission name="NotAssignedExaminations"/>
				</condition>
			</item>
			<item name="Changes" page="examChanges.do">
				<condition>
					<hasPermission name="ExaminationAssignmentChanges"/>
				</condition>
			</item>
			<item name="Conflict Statistics" page="ecbs.do">
				<condition>
					<hasPermission name="ExaminationConflictStatistics"/>
				</condition>
			</item>
			<item name="Solver Log" page="examSolverLog.do">
				<condition>
					<hasPermission name="ExaminationSolverLog"/>
					<propertyEquals name="unitime.legacy.solver" value="true" defaultValue="false"/>
				</condition>
			</item>
			<item name="Solver Log" page="solverlog" type="gwt">
				<parameter name="type">exam</parameter>
				<condition>
					<hasPermission name="ExaminationSolverLog"/>
					<propertyEquals name="unitime.legacy.solver" value="false" defaultValue="false"/>
				</condition>
			</item>
			<separator>
				<condition>
					<hasPermission name="ExaminationReports"/>
				</condition>
			</separator>
			<item name="Reports" page="examAssignmentReport.do">
				<condition>
					<hasPermission name="ExaminationReports"/>
				</condition>
			</item>
		</menu>
		<item name="Pdf Reports" page="examPdfReport.do">
			<condition>
				<hasPermission name="ExaminationPdfReports"/>
			</condition>
		</item>
		<item name="Reports" page="hql" type="gwt">
			<parameter name="appearance">exams</parameter>
			<condition>
				<hasPermission name="HQLReportsExaminations"/>
			</condition>
		</item>
	</menu>
	<item name="Course Requests" page="requests" type="gwt">
		<condition>
			<hasPermission name="CourseRequests" authority="any"/>	
			<not>
				<hasPermission name="StudentScheduling"/>
			</not>
		</condition>
	</item>
	<item name="Scheduling Assistant" page="sectioning" type="gwt">
		<condition>
			<hasPermission name="SchedulingAssistant" authority="any"/>	
			<not>
				<hasPermission name="StudentScheduling"/>
			</not>
		</condition>
	</item>
	<item name="Scheduling Dashboard" page="onlinesctdash" type="gwt">
		<condition>
			<hasPermission name="SchedulingDashboard" authority="role"/>
			<not>
				<hasPermission name="StudentScheduling"/>
			</not>
		</condition>
	</item>
	<item name="Personal Schedule" page="personal" type="gwt">
		<condition>
			<or>
				<hasPermission name="PersonalScheduleLookup"/>
				<and>
					<propertyEquals name="tmtbl.menu.display_personal_schedule" value="true" defaultValue="true"/>
					<hasPermission name="PersonalSchedule"/>
				</and>
			</or>
		</condition>
	</item>
	<item name="Lookup Classes" page="classes" type="gwt">
		<condition>
			<isAuthenticated/>
			<not>
				<hasPermission name="HasRole"/>
			</not>
		</condition>
	</item>
	<item name="Lookup Examinations" page="exams" type="gwt">
		<condition>
			<isAuthenticated/>
			<not>
				<hasPermission name="HasRole"/>
			</not>
		</condition>
	</item>
	<item name="Timetable" page="timetable" type="gwt">
		<condition>
			<or>
				<hasRole name="Anonymous"/>
				<and>
					<isAuthenticated/>
					<not>
						<and>
							<or>
								<propertyEquals name="tmtbl.menu.display_event_management" value="true" defaultValue="true"/>
								<hasPermission name="IsAdmin"/>
							</or>
							<hasPermission name="Events" authority="any"/>
						</and>
					</not>
				</and>
			</or>
		</condition>
	</item>
	<menu name="Events">
		<condition>
			<or>
				<propertyEquals name="tmtbl.menu.display_event_management" value="true" defaultValue="true"/>
				<hasPermission name="IsAdmin"/>
			</or>
			<or>
				<hasPermission name="Events" authority="any"/>
				<hasPermission name="HQLReportsEvents"/>
			</or>
			<not>
				<hasRole name="Anonymous"/>
			</not>
		</condition>
		<menu name="Rooms" page="roomSearch.do">
			<condition>
				<hasPermission name="Rooms"/>
				<propertyEquals name="unitime.legacy.rooms" value="true" defaultValue="false"/>
			</condition>
			<item name="Room Features" page="roomFeatureSearch.do">
				<condition>
					<hasPermission name="RoomFeatures"/>
				</condition>
			</item>
			<item name="Room Groups" page="roomGroupSearch.do">
				<condition>
					<hasPermission name="RoomGroups"/>
				</condition>
			</item>
		</menu>
		<menu name="Rooms" page="rooms" type="gwt">
			<parameter name="mode">events</parameter>
			<condition>
				<hasPermission name="Rooms"/>
				<propertyEquals name="unitime.legacy.rooms" value="false" defaultValue="false"/>
			</condition>
			<item name="Room Features" page="roomfeatures" type="gwt">
				<parameter name="mode">events</parameter>
				<condition>
					<hasPermission name="RoomFeatures"/>
				</condition>
			</item>
			<item name="Room Groups" page="roomgroups" type="gwt">
				<parameter name="mode">events</parameter>
				<condition>
					<hasPermission name="RoomGroups"/>
				</condition>
			</item>
		</menu>
		<separator>
			<condition>
				<hasPermission name="Rooms"/>
			</condition>
		</separator>
		<item name="Events" page="events" type="gwt"/>
		<item name="Add Event" page="events#event=add" type="gwt">
			<condition>
				<or>
					<hasPermission name="EventAddSpecial" authority="any"/>
					<hasPermission name="EventAddCourseRelated" authority="any"/>
					<hasPermission name="EventAddUnavailable" authority="any"/>
				</or>
			</condition>
		</item>
		<item name="Room Availability" page="availability" type="gwt"/>
		<separator/>
		<item name="Timetable" page="timetable" type="gwt"/>
		<item name="Reports" page="hql" type="gwt">
			<parameter name="appearance">events</parameter>
			<condition>
				<hasPermission name="HQLReportsEvents"/>
			</condition>
		</item>
	</menu>
	<!-- 
	<menu name="OLD Events">
		<condition>
			<or>
				<propertyEquals name="tmtbl.menu.display_event_management" value="true" defaultValue="true"/>
				<hasPermission name="IsAdmin"/>
			</or>
			<hasPermission name="Events" authority="any"/>
		</condition>
		<item name="Events" page="eventList.do"/>
		<item name="Meetings" page="meetingList.do"/>
		<item name="Add Event" page="eventAdd.do">
			<condition>
				<hasPermission name="EventAddSpecial" authority="any"/>
			</condition>
		</item>
		<item name="Room Availability" page="eventGrid.do"/>
	</menu>
	-->
	<separator/>
	<menu name="Administration">
		<condition>
			<hasPermission name="IsAdmin"/>
		</condition>
		<menu name="Academic Sessions">
			<item name="Academic Sessions" page="sessionList.do">
				<condition>
					<hasPermission name="AcademicSessions"/>
				</condition>
			</item>
			<item name="Managers" page="timetableManagerList.do">
				<condition>
					<hasPermission name="TimetableManagers"/>
				</condition>
			</item>
			<item name="Departments" page="departmentList.do">
				<condition>
					<hasPermission name="Departments"/>
				</condition>
			</item>
			<item name="Solver Groups" page="solverGroupEdit.do">
				<condition>
					<hasPermission name="SolverGroups"/>
				</condition>
			</item>
			<item name="Subject Areas" page="subjectList.do">
				<condition>
					<hasPermission name="SubjectAreas"/>
				</condition>
			</item>
			<item name="Buildings" page="buildingList.do">
				<condition>
					<hasPermission name="BuildingList"/>
				</condition>
			</item>
			<separator/>
			<item name="Date Patterns" page="datePatternEdit.do">
				<condition>
					<hasPermission name="DatePatterns"/>
				</condition>
			</item>
			<item name="Time Patterns" page="timePatternEdit.do">
				<condition>
					<hasPermission name="TimePatterns"/>
				</condition>
			</item>
			<item name="Exact Time" page="exactTimeEdit.do">
				<condition>
					<hasPermission name="ExactTimes"/>
				</condition>
			</item>
			<separator/>
			<item name="Academic Areas" page="admin" type="gwt">
				<parameter name="type">area</parameter>
				<condition>
					<hasPermission name="AcademicAreas"/>
				</condition>
			</item>
			<item name="Academic Classifications" page="admin" type="gwt">
				<parameter name="type">classification</parameter>
				<condition>
					<hasPermission name="AcademicClassifications"/>
				</condition>
			</item>
			<item name="Majors" page="admin" type="gwt">
				<parameter name="type">major</parameter>
				<condition>
					<hasPermission name="Majors"/>
				</condition>
			</item>
			<item name="Minors" page="admin" type="gwt">
				<parameter name="type">minor</parameter>
				<condition>
					<hasPermission name="Minors"/>
				</condition>
			</item>
			<item name="Student Groups" page="admin" type="gwt">
				<parameter name="type">group</parameter>
				<condition>
					<hasPermission name="StudentGroups"/>
				</condition>
			</item>
			<item name="Student Accommodations" page="admin" type="gwt">
				<parameter name="type">accommodations</parameter>
				<condition>
					<hasPermission name="StudentAccommodations"/>
				</condition>
			</item>
			<separator/>
			<item name="Examination Statuses" page="admin" type="gwt">
				<parameter name="type">examStatus</parameter>
				<condition>
					<hasPermission name="ExaminationStatuses"/>
				</condition>
			</item>
			<item name="Examination Periods" page="examPeriodEdit.do">
				<condition>
					<hasPermission name="ExaminationPeriods"/>
				</condition>
			</item>
			<item name="Event Date Mappings" page="admin" type="gwt">
				<parameter name="type">dateMapping</parameter>
				<condition>
					<hasPermission name="EventDateMappings"/>
				</condition>
			</item>
			<item name="Event Statuses" page="admin" type="gwt">
				<parameter name="type">eventStatus</parameter>
				<condition>
					<hasPermission name="EventStatuses"/>
				</condition>
			</item>
			<item name="Instructor Roles" page="admin" type="gwt">
				<parameter name="type">instructorRole</parameter>
				<condition>
					<hasPermission name="InstructorRoles"/>
				</condition>
			</item>
			<separator/>
			<item name="Data Exchange" page="dataImport.do">
				<condition>
					<hasPermission name="DataExchange"/>
				</condition>
			</item>
			<item name="Roll Forward Session" page="rollForwardSession.do">
				<condition>
					<hasPermission name="SessionRollForward"/>
				</condition>
			</item>
			<item name="Change Log" page="lastChanges.do">
				<condition>
					<hasPermission name="LastChanges"/>
				</condition>
			</item>
			<item name="Reports" page="hql" type="gwt">
				<parameter name="appearance">administration</parameter>
				<condition>
					<hasPermission name="HQLReportsAdministration"/>
				</condition>
			</item>
			<item name="Point In Time Data Snapshots" page="admin" type="gwt">
				<parameter name="type">pitds</parameter>
				<condition>
					<hasPermission name="PointInTimeData"/>
				</condition>
			</item>
			<item name="Limit and Projection Snapshot" page="limitAndProjectionSnapshot" type="gwt">
				<condition>
					<hasPermission name="LimitAndProjectionSnapshot"/>
				</condition>
			</item>
						
		</menu>
		<menu name="Solver">
			<item name="Manage Solvers" page="manageSolvers.do">
				<condition>
					<hasPermission name="ManageSolvers"/>
				</condition>
			</item>
			<separator/>
			<item name="Parameter Groups" page="solverParamGroups.do">
				<condition>
					<hasPermission name="SolverParameterGroups"/>
				</condition>
			</item>
			<item name="Parameters" page="solverParamDef.do">
				<condition>
					<hasPermission name="SolverParameters"/>
				</condition>
			</item>
			<item name="Configurations" page="solverSettings.do">
				<condition>
					<hasPermission name="SolverConfigurations"/>
				</condition>
			</item>
			<separator/>
			<item name="Distribution Types" page="distributionTypeList.do">
				<condition>
					<hasPermission name="DistributionTypes"/>
				</condition>
			</item>
		</menu>
		<menu name="Other">
			<item name="Instructional Types" page="itypeDescList.do">
				<condition>
					<hasPermission name="InstructionalTypes"/>
				</condition>
			</item>
			<item name="Class Duration Types" page="admin" type="gwt">
				<parameter name="type">durationType</parameter>
				<condition>
					<hasPermission name="DurationTypes"/>
				</condition>
			</item>
			<item name="Status Types" page="deptStatusTypeEdit.do">
				<condition>
					<hasPermission name="StatusTypes"/>
				</condition>
			</item>
			<item name="Room Types" page="roomTypeEdit.do">
				<condition>
					<hasPermission name="RoomTypes"/>
				</condition>
			</item>
			<item name="Room Feature Types" page="admin" type="gwt">
				<parameter name="type">featureType</parameter>
				<condition>
					<hasPermission name="RoomFeatureTypes"/>
				</condition>
			</item>
			<item name="Course Types" page="admin" type="gwt">
				<parameter name="type">courseType</parameter>
				<condition>
					<hasPermission name="CourseTypes"/>
				</condition>
			</item>
			<item name="Instructional Methods" page="admin" type="gwt">
				<parameter name="type">instructionalMethod</parameter>
				<condition>
					<hasPermission name="InstructionalMethods"/>
				</condition>
			</item>
			<item name="Instructor Attribute Types" page="admin" type="gwt">
				<parameter name="type">attributeType</parameter>
				<condition>
					<hasPermission name="InstructorAttributeTypes"/>
				</condition>
			</item>
			<item name="Sponsoring Organizations" page="sponsoringOrgList.do">
				<condition>
					<hasPermission name="SponsoringOrganizations"/>
				</condition>
			</item>
			<item name="Standard Notes" page="admin" type="gwt">
				<parameter name="type">stdEvtNote</parameter>
				<condition>
					<hasPermission name="StandardEventNotes"/>
				</condition>
			</item>
			<item name="Service Providers" page="admin" type="gwt">
				<parameter name="type">serviceProviders</parameter>
				<condition>
					<hasPermission name="EventServiceProviders"/>
				</condition>
			</item>			
			<item name="Attachment Types" page="admin" type="gwt">
				<parameter name="type">attachmentType</parameter>
				<condition>
					<hasPermission name="AttachmentTypes"/>
				</condition>
			</item>
			<item name="Preference Levels" page="admin" type="gwt">
				<parameter name="type">preferences</parameter>
				<condition>
					<hasPermission name="PreferenceLevels"/>
				</condition>
			</item>
			<separator/>
			<item name="Consent Types" page="admin" type="gwt">
				<parameter name="type">consent</parameter>
				<condition>
					<hasPermission name="OfferingConsentTypes"/>
				</condition>
			</item>
			<item name="Course Credit Formats" page="admin" type="gwt">
				<parameter name="type">creditFormat</parameter>
				<condition>
					<hasPermission name="CourseCreditFormats"/>
				</condition>
			</item>
			<item name="Course Credit Types" page="admin" type="gwt">
				<parameter name="type">creditType</parameter>
				<condition>
					<hasPermission name="CourseCreditTypes"/>
				</condition>
			</item>
			<item name="Course Credit Units" page="admin" type="gwt">
				<parameter name="type">creditUnit</parameter>
				<condition>
					<hasPermission name="CourseCreditUnits"/>
				</condition>
			</item>
			<item name="Position Types" page="admin" type="gwt">
				<parameter name="type">position</parameter>
				<condition>
					<hasPermission name="PositionTypes"/>
				</condition>
			</item>
			<item name="Teaching Responsibilities" page="admin" type="gwt">
				<parameter name="type">teachingResponsibility</parameter>
				<condition>
					<hasPermission name="TeachingResponsibilities"/>
				</condition>
			</item>
			<item name="Student Status Types" page="admin" type="gwt">
				<parameter name="type">sectioning</parameter>
				<condition>
					<hasPermission name="StudentSchedulingStatusTypes"/>
				</condition>
			</item>
			<item name="Examination Types" page="admin" type="gwt">
				<parameter name="type">examType</parameter>
				<condition>
					<hasPermission name="ExamTypes"/>
				</condition>
			</item>
			<separator/>
			<item name="Roles" page="admin" type="gwt">
				<parameter name="type">roles</parameter>
				<condition>
					<hasPermission name="Roles"/>
				</condition>
			</item>
			<item name="Permissions" page="admin" type="gwt">
				<parameter name="type">permissions</parameter>
				<condition>
					<hasPermission name="Permissions"/>
				</condition>
			</item>
		</menu>
		<menu name="Defaults">
			<item name="Configuration" page="applicationConfig.do">
				<condition>
					<hasPermission name="ApplicationConfig"/>
				</condition>
			</item>
			<item name="User Settings" page="settings.do">
				<condition>
					<hasPermission name="SettingsAdmin"/>
				</condition>
			</item>
			<item name="Logging" page="admin" type="gwt">
				<parameter name="type">logging</parameter>
				<condition>
					<hasPermission name="ApplicationConfig"/>
				</condition>
			</item>
		</menu>
		<menu name="Utilities">
			<item name="Page Statistics" page="stats.do">
				<condition>
					<hasPermission name="PageStatistics"/>
				</condition>
			</item>
			<item name="Hibernate Statistics" page="hibernateStats.do">
				<condition>
					<hasPermission name="HibernateStatistics"/>
				</condition>
			</item>
			<item name="Test HQL" page="hibernateQueryTest.do">
				<condition>
					<hasPermission name="TestHQL"/>
				</condition>
			</item>
			<item name="Clear Cache" page="$wnd.gwtClearHibernateCache();" target="eval">
				<condition>
					<hasPermission name="ClearHibernateCache"/>
				</condition>
			</item>
			<item name="Scripts" page="scripts" type="gwt">
				<condition>
					<hasPermission name="Scripts"/>
				</condition>
			</item>
		</menu>
	</menu>
	<menu name="Preferences">
		<item name="Change Role" page="selectPrimaryRole.do?list=Y">
				<condition>
					<hasPermission name="HasRole"/>
				</condition>
			</item>
		<item name="Switch User" page="chameleon.do">
			<condition>
				<hasPermission name="Chameleon"/>
			</condition>
		</item>
		<item name="Settings" page="managerSettings.do">
				<condition>
					<hasPermission name="SettingsUser"/>
				</condition>
		</item>
		<item name="Change Password" page="password" type="gwt">
				<condition>
					<hasPermission name="ChangePassword" authority="any"/>
				</condition>
		</item>
		<item name="Event Statuses" page="admin" type="gwt">
			<parameter name="type">eventStatus</parameter>
			<condition>
				<not>
					<hasPermission name="IsAdmin"/>
				</not>
				<hasPermission name="EventStatuses"/>
			</condition>
		</item>
		<item name="Instructor Roles" page="admin" type="gwt">
			<parameter name="type">instructorRole</parameter>
			<condition>
				<not>
					<hasPermission name="IsAdmin"/>
				</not>
				<hasPermission name="InstructorRoles"/>
			</condition>
		</item>
		<item name="Standard Notes" page="admin" type="gwt">
			<parameter name="type">stdEvtNote</parameter>
			<condition>
				<not>
					<hasPermission name="IsAdmin"/>
				</not>
				<hasPermission name="StandardEventNotes"/>
			</condition>
		</item>
		<item name="Service Providers" page="admin" type="gwt">
			<parameter name="type">serviceProviders</parameter>
			<condition>
			    <not>
					<hasPermission name="IsAdmin"/>
				</not>
				<hasPermission name="EventServiceProviders"/>
			</condition>
		</item>			
		<item name="Scripts" page="scripts" type="gwt">
			<condition>
				<not>
					<hasPermission name="IsAdmin"/>
				</not>
				<hasPermission name="Scripts"/>
			</condition>
		</item>
		<item name="Clear Cache" page="$wnd.gwtClearHibernateCache();" target="eval">
			<condition>
				<not>
					<hasPermission name="IsAdmin"/>
				</not>
				<hasPermission name="ClearHibernateCache"/>
			</condition>
		</item>
		<item name="Event Defaults" page="admin" type="gwt">
			<parameter name="type">eventDefault</parameter>
			<condition>
				<hasPermission name="EventDefaults"/>
			</condition>
		</item>
		<item name="Examination Statuses" page="admin" type="gwt">
			<parameter name="type">examStatus</parameter>
			<condition>
				<not>
					<hasPermission name="IsAdmin"/>
				</not>
				<hasPermission name="ExaminationStatuses"/>
			</condition>
		</item>
		<item name="Examination Periods" page="examPeriodEdit.do">
			<condition>
				<not>
					<hasPermission name="IsAdmin"/>
				</not>
				<hasPermission name="ExaminationPeriods"/>
			</condition>
		</item>
	</menu>
	<menu name="Help">
		<condition>
			<isAuthenticated/>
			<not>
				<hasRole name="Anonymous"/>
			</not>
		</condition>
		<item name="Page Documentation" page="PAGE_HELP" type="page" target="dialog">
			<condition>
				<propertyEquals name="tmtbl.wiki.help" value="true"/>
				<hasProperty name="tmtbl.wiki.url"/>
			</condition>
		</item>
		<item name="Event Manual" page="tmtbl.help.manual.events" type="property" target="download">
			<condition>
				<hasPermission name="Events" authority="any" check="false"/>
			</condition>
		</item>
		<item name="Data Entry Manual" page="tmtbl.help.manual.input_data" type="property" target="download">
			<condition>
				<or>
					<hasPermission name="InstructionalOfferings" check="false"/>
					<hasPermission name="Classes" check="false"/>
				</or>
			</condition>
		</item>
		<item name="Solver Manual" page="tmtbl.help.manual.solver" type="property" target="download">
			<condition>
				<or>
					<hasPermission name="CourseTimetabling" check="false"/>
					<hasPermission name="CourseTimetablingAudit" check="false"/>
					<hasPermission name="Timetables" check="false"/>
				</or>
			</condition>
		</item>
		<item name="Instructor Scheduling Manual" page="tmtbl.help.manual.instructorScheduling" type="property" target="download">
			<condition>
				<or>
					<hasPermission name="InstructorScheduling" check="false"/>
					<hasPermission name="InstructorSchedulingSolver" check="false"/>
				</or>
			</condition>
		</item>
		<separator/>
		<item name="Tips &amp; Tricks" page="tmtbl.help.tricks" type="property" target="dialog"/>
		<item name="FAQ" page="tmtbl.help.faq" type="property" target="dialog"/>
		<item name="Release Notes" page="tmtbl.help.release_notes" type="property" target="dialog"/>
		<item name="Contact Us" page="inquiry.do">
			<condition>
				<or>
					<hasProperty name="unitime.email.notif"/>
					<hasProperty name="unitime.email.inquiry"/>
				</or>
				<hasPermission name="Inquiry"/>
			</condition>
		</item>
	</menu>
	<item name="Log Out" page="logOut.do">
		<condition>
			<isAuthenticated/>
			<not>
				<hasRole name="Anonymous"/>
			</not>
		</condition>
	</item>
	<item name="Log In" page="login.do">
		<condition>
			<or>
				<not>
					<isAuthenticated/>
				</not>
				<hasRole name="Anonymous"/>
			</or>
		</condition>
	</item>
</unitime-menu>