<?xml version="1.0"?>
<!DOCTYPE unitime-menu PUBLIC "-//UniTime//UniTime Menu DTD/EN" "http://www.unitime.org/interface/menu.dtd">

<!-- 
 * UniTime 3.2 (University Timetabling Application)
 * Copyright (C) 2010, UniTime LLC
 * 
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along
 * with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 -->
<unitime-menu>
	<menu name="Courses" title="Course Timetabling">
		<condition>
			<isAuthenticated/>
			<or>
				<propertyEquals name="tmtbl.menu.display_course_timetabling" value="true" defaultValue="true"/>
				<hasRole name="Administrator"/>
			</or>
			<hasRight name="canSeeCourses"/>
		</condition>
		<menu name="Input Data" title="Course Timetabling Input Data">
			<item name="Instructional Offerings" page="instructionalOfferingShowSearch.do"/>
			<item name="Classes" page="classShowSearch.do"/>
			<separator/>
			<menu name="Curricula" page="curricula" type="gwt">
				<item name="Projection Rules" page="curprojrules" type="gwt"/>
			</menu>
			<separator/>
			<menu name="Instructors" page="instructorSearch.do">
				<item name="Designator List" page="designatorList.do"/>
			</menu>
			<separator/>
			<menu name="Rooms" page="roomSearch.do">
				<item name="Room Features" page="roomFeatureSearch.do"/>
				<item name="Room Groups" page="roomGroupSearch.do"/>
				<item name="Travel Times" page="traveltimes" type="gwt">
					<condition>
						<hasRole name="Administrator"/>
					</condition>
				</item>
			</menu>
			<separator/>
			<item name="Distribution Preferences" page="distributionPrefs.do"/>
			<menu name="Reservations" page="reservations" type="gwt"/>
			<item name="Class Assignments" page="classAssignmentsReportShowSearch.do">
				<condition>
					<hasRight name="canSeeTimetable"/>
				</condition>
			</item>
		</menu>
		<menu name="Course Timetabling" title="Course Timetabling Solver">
			<condition>
				<hasRight name="hasASolverGroup"/>
				<hasRight name="canSeeTimetable"/>
				<hasRight name="canDoTimetable"/>
			</condition>
			<item name="Saved Timetables" page="listSolutions.do"/>
			<item name="Solver" page="solver.do"/>
			<item name="Timetable Grid" page="timetable.do"/>
			<separator/>
			<item name="Assigned Classes" page="assignedClasses.do"/>
			<item name="Not-assigned Classes" page="unassigned.do"/>
			<item name="Changes" page="solutionChanges.do"/>
			<item name="History" page="assignmentHistory.do"/>
			<item name="Conflict Statistics" page="cbs.do"/>
			<item name="Solver Log" page="solverLog.do"/>
			<item name="Reports" page="solutionReport.do"/>
			<separator>
				<condition>
					<hasRole name="Administrator"/>
				</condition>
			</separator>
			<item name="Manage Solvers" page="manageSolvers.do">
				<condition>
					<hasRole name="Administrator"/>
				</condition>
			</item>
		</menu>
		<menu name="Course Timetabling" title="Course Timetabling Solver">
			<condition>
				<hasRight name="hasASolverGroup"/>
				<hasRight name="canSeeTimetable"/>
				<not>
					<hasRight name="canDoTimetable"/>
				</not>
			</condition>
			<item name="Saved Timetables" page="listSolutions.do"/>
			<item name="Timetable Grid" page="timetable.do"/>
		</menu>
		<menu name="Course Audit" title="Course Timetabling Audit">
			<condition>
				<hasRight name="hasASolverGroup"/>
				<not>
					<hasRight name="canSeeTimetable"/>
				</not>
				<hasRight name="canAudit"/>
			</condition>
			<item name="Solver" page="solver.do"/>
			<item name="Conflict Statistics" page="cbs.do"/>
			<item name="Solver Log" page="solverLog.do"/>
			<item name="Reports" page="solutionReport.do"/>
		</menu>
		<item name="Reports" page="hql" type="gwt">
			<parameter name="appearance">courses</parameter>
			<condition>
				<hasRight name="hasCourseReports"/>
			</condition>
		</item>
	</menu>
	<menu name="Curricula" title="Curriculum Timetabling">
		<condition>
			<hasRole name="Curriculum Mgr"/>
		</condition>
		<item name="Curricula" page="curricula" type="gwt"/>
		<item name="Projection Rules" page="curprojrules" type="gwt"/>
	</menu>
	<menu name="Students">
		<condition>
			<or>
				<propertyEquals name="tmtbl.menu.display_student_sectioning" value="true" defaultValue="true"/>
				<hasRole name="Administrator"/>
			</or>
			<hasRight name="canSectionStudents"/>
		</condition>
		<menu name="Batch Solver" page="studentSolver.do">
			<item name="Solver Log" page="studentSolverLog.do"/>
			<item name="Solver Dashboard" page="batchsctdash" type="gwt"/>
		</menu>
		<separator>
			<condition>
				<or>
					<hasRight name="isSectioningEnabled"/>
					<hasRight name="isRegistrationEnabled"/>
				</or>
			</condition>
		</separator>
		<item name="Scheduling Assistant" page="sectioning" type="gwt">
			<condition>
				<hasRight name="isSectioningEnabled"/>
			</condition>
		</item>
		<item name="Online Scheduling Dashboard" page="onlinesctdash" type="gwt">
			<condition>
				<hasRight name="isSectioningEnabled"/>
			</condition>
		</item>
		<item name="Course Requests" page="requests" type="gwt">
			<condition>
				<hasRight name="isRegistrationEnabled"/>
			</condition>
		</item>
		<separator/>
		<item name="Enrollment Audits" page="enrollmentAuditPdfReport.do"/>
		<item name="Reports" page="hql" type="gwt">
			<parameter name="appearance">sectioning</parameter>
			<condition>
				<hasRight name="hasStudentReports"/>
			</condition>
		</item>
	</menu>
	<menu name="Examinations">
		<condition>
			<or>
				<propertyEquals name="tmtbl.menu.display_exam_timetabling" value="true" defaultValue="true"/>
				<hasRole name="Administrator"/>
			</or>
			<hasRight name="canSeeExams"/>
		</condition>
		<menu name="Input Data">
			<item name="Instructors" page="instructorSearch.do"/>
			<separator/>
			<menu name="Rooms" page="roomSearch.do?default=Exam">
				<item name="Room Features" page="roomFeatureSearch.do?default=Exam"/>
				<item name="Room Groups" page="roomGroupSearch.do?default=Exam"/>
				<item name="Room Availability" page="roomAvailability.do">
					<condition>
						<hasRight name="hasRoomAvailability"/>
					</condition>
				</item>
			</menu>
			<separator/>
			<item name="Examinations" page="examList.do"/>
			<item name="Distribution Preferences" page="examDistributionPrefs.do"/>
		</menu>
		<menu name="Examination Timetabling">
			<condition>
				<hasRight name="canTimetableExams"/>
			</condition>
			<item name="Examination Solver" page="examSolver.do"/>
			<item name="Timetable Grid" page="examGrid.do"/>
			<separator/>
			<item name="Assigned Exams" page="assignedExams.do"/>
			<item name="Not-assigned Exams" page="unassignedExams.do"/>
			<item name="Changes" page="examChanges.do"/>
			<item name="Conflict Statistics" page="ecbs.do"/>
			<item name="Solver Log" page="examSolverLog.do"/>
			<separator/>
			<item name="Reports" page="examAssignmentReport.do"/>
		</menu>
		<item name="Pdf Reports" page="examPdfReport.do">
			<condition>
				<or>
					<hasRole name="Administrator"/>
					<hasRole name="Exam Mgr"/>
				</or>
			</condition>
		</item>
		<item name="Reports" page="hql" type="gwt">
			<parameter name="appearance">exams</parameter>
			<condition>
				<hasRight name="hasExamReports"/>
			</condition>
		</item>
	</menu>
	<!--  <item name="Classes" page="classes.do">  -->
	<item name="Classes" page="classes" type="gwt">
		<condition>
			<or>
				<and>
					<not>
						<isAuthenticated/>
					</not>
					<propertyEquals name="unitime.event_timetable.requires_authentication" value="false" defaultValue="true"/>
				</and>
				<and>
					<isAuthenticated/>
					<not>
						<hasRole/>
					</not>
				</and>
			</or>
		</condition>
	</item>
	<item name="Examinations" page="exams" type="gwt">
		<condition>
			<or>
				<and>
					<not>
						<isAuthenticated/>
					</not>
					<propertyEquals name="unitime.event_timetable.requires_authentication" value="false" defaultValue="true"/>
				</and>
				<and>
					<isAuthenticated/>
					<not>
						<hasRole/>
					</not>
				</and>
			</or>
		</condition>
	</item>
	<item name="Timetable" page="timetable" type="gwt">
		<condition>
			<or>
				<and>
					<not>
						<isAuthenticated/>
					</not>
					<propertyEquals name="unitime.event_timetable.requires_authentication" value="false" defaultValue="true"/>
				</and>
				<and>
					<isAuthenticated/>
					<not>
						<and>
							<or>
								<propertyEquals name="tmtbl.menu.display_event_management" value="true" defaultValue="true"/>
								<hasRole name="Administrator"/>
							</or>
							<hasRight name="canSeeEvents"/>
						</and>
					</not>
				</and>
			</or>
		</condition>
	</item>
	<menu name="Events">
		<condition>
			<or>
				<propertyEquals name="tmtbl.menu.display_event_management" value="true" defaultValue="true"/>
				<hasRole name="Administrator"/>
			</or>
			<hasRight name="canSeeEvents"/>
		</condition>
		<menu name="Rooms" page="roomSearch.do?default=Exam">
			<condition>
				<hasRole name="Event Mgr"/>
			</condition>
			<item name="Room Features" page="roomFeatureSearch.do"/>
			<item name="Room Groups" page="roomGroupSearch.do"/>
		</menu>
		<separator>
			<condition>
				<hasRole name="Event Mgr"/>
			</condition>
		</separator>
		<item name="Events" page="events" type="gwt">
			<parameter name="tab">1</parameter>
		</item>
		<item name="Meetings" page="events" type="gwt">
			<parameter name="tab">2</parameter>
		</item>
		<item name="Add Event" page="events" type="gwt">
			<parameter name="event">add</parameter>
		</item>
		<item name="Room Availability" page="events" type="gwt">
			<parameter name="tab">0</parameter>
		</item>
		<separator/>
		<item name="Timetable" page="timetable" type="gwt"/>
		<item name="Reports" page="hql" type="gwt">
			<parameter name="appearance">events</parameter>
			<condition>
				<hasRight name="hasEventReports"/>
			</condition>
		</item>
	</menu>
	<item name="Course Requests" page="requests" type="gwt">
		<condition>
			<and>
				<or>
					<hasRight name="isStudent"/>
					<hasRole name="Advisor"/>
				</or>
				<hasRight name="isRegistrationEnabled"/>
			</and>
		</condition>
	</item>
	<item name="Scheduling Assistant" page="sectioning" type="gwt">
		<condition>
			<and>
				<or>
					<not>
						<isAuthenticated/>
					</not>
					<and>
						<not>
							<hasRole/>
						</not>
						<hasRight name="isStudent"/>
					</and>
					<hasRole name="Advisor"/>
				</or>
				<hasRight name="isSectioningEnabled"/>
			</and>
		</condition>
	</item>
	<item name="Scheduling Dashboard" page="onlinesctdash" type="gwt">
		<condition>
			<or>
				<hasRight name="isInstructor"/>
				<hasRole name="Dept Sched Mgr"/>
				<hasRole name="Advisor"/>
			</or>
			<hasRight name="isSectioningEnabled"/>
		</condition>
	</item>
	<item name="Personal Schedule" page="personal" type="gwt">
		<condition>
			<or>
				<hasRole name="Administrator"/>
				<and>
					<propertyEquals name="tmtbl.menu.display_personal_schedule" value="true" defaultValue="true"/>
					<hasRight name="hasPersonalReport"/>
				</and>
			</or>
		</condition>
	</item>
	<separator/>
	<menu name="Administration">
		<condition>
			<hasRole name="Administrator"/>
		</condition>
		<menu name="Academic Sessions">
			<item name="Academic Sessions" page="sessionList.do"/>
			<item name="Managers" page="timetableManagerList.do"/>
			<item name="Departments" page="departmentList.do"/>
			<item name="Solver Groups" page="solverGroupEdit.do"/>
			<item name="Subject Areas" page="subjectList.do"/>
			<item name="Buildings" page="buildingList.do"/>
			<separator/>
			<item name="Date Patterns" page="datePatternEdit.do"/>
			<item name="Time Patterns" page="timePatternEdit.do"/>
			<item name="Exact Time" page="exactTimeEdit.do"/>
			<separator/>
			<item name="Academic Areas" page="admin" type="gwt">
				<parameter name="type">area</parameter>
			</item>
			<item name="Academic Classifications" page="admin" type="gwt">
				<parameter name="type">classification</parameter>
			</item>
			<item name="Majors" page="admin" type="gwt">
				<parameter name="type">major</parameter>
			</item>
			<item name="Minors" page="admin" type="gwt">
				<parameter name="type">minor</parameter>
			</item>
			<item name="Student Groups" page="admin" type="gwt">
				<parameter name="type">group</parameter>
			</item>
			<separator/>
			<item name="Examination Periods" page="examPeriodEdit.do"/>
			<item name="Data Exchange" page="dataImport.do"/>
			<item name="Roll Forward Session" page="rollForwardSession.do"/>
			<item name="Change Log" page="lastChanges.do"/>
			<item name="Reports" page="hql" type="gwt">
				<parameter name="appearance">administration</parameter>
			</item>
		</menu>
		<menu name="Solver">
			<item name="Manage Solvers" page="manageSolvers.do"/>
			<separator/>
			<item name="Parameter Groups" page="solverParamGroups.do"/>
			<item name="Parameters" page="solverParamDef.do"/>
			<item name="Configurations" page="solverSettings.do"/>
			<separator/>
			<item name="Distribution Types" page="distributionTypeList.do"/>
		</menu>
		<menu name="Other">
			<item name="Instructional Types" page="itypeDescList.do"/>
			<item name="Status Types" page="deptStatusTypeEdit.do"/>
			<item name="Room Types" page="roomTypeEdit.do"/>
			<item name="Sponsoring Organizations" page="sponsoringOrgList.do"/>
			<item name="Standard Notes" page="eventStandardNotes.do"/>
			<separator/>
			<item name="Consent Types" page="admin" type="gwt">
				<parameter name="type">consent</parameter>
			</item>
			<item name="Course Credit Formats" page="admin" type="gwt">
				<parameter name="type">creditFormat</parameter>
			</item>
			<item name="Course Credit Types" page="admin" type="gwt">
				<parameter name="type">creditType</parameter>
			</item>
			<item name="Course Credit Units" page="admin" type="gwt">
				<parameter name="type">creditUnit</parameter>
			</item>
			<item name="Position Types" page="admin" type="gwt">
				<parameter name="type">position</parameter>
			</item>
			<item name="Student Scheduling Status Types" page="admin" type="gwt">
				<parameter name="type">sectioning</parameter>
			</item>
		</menu>
		<menu name="Defaults">
			<item name="Configuration" page="applicationConfig.do"/>
			<item name="User Settings" page="settings.do"/>
		</menu>
		<menu name="Utilities">
			<item name="Page Statistics" page="stats.do"/>
			<item name="Hibernate Statistics" page="hibernateStats.do"/>
			<item name="Test HQL" page="hibernateQueryTest.do"/>
		</menu>
	</menu>
	<menu name="Preferences">
		<condition>
			<isAuthenticated/>
			<hasRole/>
		</condition>	
		<item name="Change Role" page="selectPrimaryRole.do?list=Y"/>
		<item name="Switch User" page="chameleon.do">
			<condition>
				<or>
					<hasRole name="Administrator"/>
					<hasRight name="isChameleon"/>
				</or>
			</condition>
		</item>
		<item name="Settings" page="managerSettings.do"/>
	</menu>
	<menu name="Help">
		<condition>
			<isAuthenticated/>
		</condition>
		<item name="Event Manual" page="tmtbl.help.manual.events" type="property" target="download">
			<condition>
				<hasRight name="canSeeEvents"/>
			</condition>
		</item>
		<item name="Data Entry Manual" page="tmtbl.help.manual.input_data" type="property" target="download">
			<condition>
				<hasRight name="canSeeCourses"/>
			</condition>
		</item>
		<item name="Solver Manual" page="tmtbl.help.manual.solver" type="property" target="download">
			<condition>
				<or>
					<hasRight name="canDoTimetable"/>
					<hasRight name="canAudit"/>
					<hasRight name="canSeeTimetable"/>
				</or>
			</condition>
		</item>
		<item name="Tips &amp; Tricks" page="tmtbl.help.tricks" type="property" target="dialog"/>
		<item name="FAQ" page="tmtbl.help.faq" type="property" target="dialog"/>
		<item name="Release Notes" page="tmtbl.help.release_notes" type="property" target="dialog"/>
		<item name="Contact Us" page="inquiry.do">
			<condition>
				<or>
					<hasProperty name="tmtbl.inquiry.email"/>
					<hasProperty name="unitime.email.inquiry"/>
				</or>
			</condition>
		</item>
	</menu>
	<item name="Log Out" page="logOut.do">
		<condition>
			<isAuthenticated/>
		</condition>
	</item>
	<item name="Log In" page="login.do">
		<condition>
			<not>
				<isAuthenticated/>
			</not>
		</condition>
	</item>
</unitime-menu>