# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
        cache: maven
    - name: Setup Maven
      uses: stCarolas/setup-maven@v4.2
      with:
        # Version Spec of the version to use.  Examples: 10.x, 10.15.1, >=10.15.0
        maven-version: 3.5.2
    - name: Build with Maven
      run: mvn -B package -D ignore.symbol.file 
        -Dhttps.protocols=TLSv1,TLSv1.1,TLSv1.2 
        -Dhttp.keepAlive=false 
        -Dmaven.wagon.http.pool=false 
        -Dmaven.wagon.httpconnectionManager.ttlSeconds=120 
        --file pom.xml
